@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "HelveticaNeueUltraLight";
  src: url("fonts/HelveticaNeueUltraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueLight";
  src: url("fonts/HelveticaNeueLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueRoman";
  src: url("fonts/HelveticaNeueRoman.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueHeavy";
  src: url("fonts/HelveticaNeueHeavy.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --beige: rgb(193, 180, 170);
  --gray: #cccccc;
  --white: #ffffff;
  --black: #333333;
  --blue: #00418b;
  --font-main: "HelveticaNeueRoman", sans-serif;
  --font-light: "HelveticaNeueLight", sans-serif;
  --font-bold: "HelveticaNeueHeavy", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  background: none;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:focus {
  outline: none;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  font-size: 18px;
  overflow-x: hidden;
}

body {
  font-family: var(--font-main);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  background-color: var(--white);
  color: var(--black);
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

/* Header */
.header {
  width: 100%;
  background-color: var(--white);
  position: relative;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: var(--blue);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.logo {
  font-family: var(--font-bold);
  font-size: 1.5rem;
  color: var(--beige);
  text-transform: uppercase;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: end;
  line-height: 1.2;
}

.logo span {
  display: flex;
  align-items: flex-end;
  font-family: var(--font-light);
  text-shadow: 0 2px 8px rgba(187, 162, 144, 0.5);
}

.nav ul {
  display: flex;
  gap: 20px;
}

.nav a {
  font-family: var(--font-main);
  font-weight: 500;
  color: var(--white);
  position: relative;
  transition: color 0.3s ease;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.active.nav a {
  color: var(--white);
}

.nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background-color: var(--beige);
  transition: width 0.3s ease;
}

.nav a:hover::after,
.nav a.active::after {
  width: 100%;
}

.call-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 2px solid var(--beige);
  padding: 8px 15px;
  border-radius: 30px;
  font-weight: 400;
  letter-spacing: 21x;
  color: var(--beige);
  font-family: var(--font-main);
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(187, 162, 144, 0.5);
}

.phone-icon {
  display: inline-block;
  animation: pulse 1.2s infinite ease-in-out;
  transform-origin: center;
}

/* Pulse animation */
@keyframes pulse {
  0%,
  100% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.2) rotate(15deg);
  }
}

.menu-icon {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 19px;
  height: 12px;
  cursor: pointer;
}

.menu-icon span {
  display: block;
  height: 2px;
  background-color: var(--beige);
  border-radius: 3px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 8px rgba(187, 162, 144, 0.5);
}

.menu-icon.active span:nth-child(1) {
  transform: rotate(45deg) translate(0px, 3px);
}

.menu-icon.active span:nth-child(2) {
  opacity: 0;
}

.menu-icon.active span:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -7px);
}

@media (max-width: 1048px) {
  .nav {
    position: absolute;
    top: 65px;
    right: -100%;
    width: 100%;
    border-radius: 30px;
    height: max-content;
    margin-top: 20px;
    padding: 60px 30px;
    background-color: var(--blue);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: right 0.3s ease;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
  }

  .nav.active {
    right: 0;
  }

  .nav ul {
    flex-direction: column;
    gap: 25px;
    align-items: center;
  }

  .call-btn {
    display: none;
  }
  .nav ul li a {
    color: var(--white);
    font-size: 1.1rem;
  }

  .menu-icon {
    display: flex;
  }
}

.hero {
  padding: 50px 20px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  position: relative;
  background-image: url(images/header.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  pointer-events: none;

  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.hero-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.hero-photo {
  flex: 1 1 300px;
  display: flex;
  justify-content: center;
}

.hero-circle {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    var(--blue) 70%,
    rgba(29, 39, 60, 0.1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.hero-circle img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50px;
}

.hero-text {
  flex: 1 1 400px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
}

.hero-text h1.logo,
.big.logo {
  margin-bottom: 15px;
  align-items: center;
  font-size: 3rem;
  font-family: var(--font-main);
  text-align: center;
  color: var(--blue);
}

.hero-text h1.logo span,
.big.logo span {
  color: var(--blue);
  font-weight: 100;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.hero-text h1.logo i,
.big.logo i {
  color: var(--blue);
  font-weight: 100;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-text p {
  font-family: var(--font-main);
  font-size: 1.3rem;
  margin-bottom: 20px;
  line-height: 1.5;
  text-align: center;
}

.hero-text p span {
  font-weight: 600;
  font-size: 2rem;
  color: var(--blue);
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  background-color: transparent;
  color: var(--beige);
  border: 2px solid var(--beige);
  border-radius: 30px;
  font-family: var(--font-main);
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  text-transform: uppercase;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  min-width: 200px;
}

.btn i {
  padding-right: 10px;
}

.hero-text .btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(187, 162, 144, 0.4);
}

.experience-circles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.experience-circles .circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: var(--beige);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-family: var(--font-bold);
  font-size: 1.2rem;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.experience-circles .circle:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(187, 162, 144, 0.4);
}

.experience-circles .circle span {
  font-size: 2rem;
  margin-bottom: 5px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.list .circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  color: var(--white);
  display: flex;
  font-size: 0.8rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  line-height: 1.2;
  text-shadow: 0 2px 8px rgba(187, 162, 144, 0.5);
  text-transform: uppercase;
  margin: -8px;
  background-color: var(--blue);
  box-shadow: 0 2px 8px rgba(187, 162, 144, 0.5);
}

@media (max-width: 992px) {
  .logo {
    text-align: left;
    justify-content: start;
    align-items: start;
    font-size: 1rem;
  }
  .hero-container {
    flex-direction: column;
    text-align: center;
    gap: 0;
  }

  .hero-text h1 {
    font-size: 1.8rem;
  }

  .hero-text p {
    font-size: 0.95rem;
  }

  .experience-circles {
    gap: 20px;
  }
}

.experience {
  background-color: var(--blue);
  border-radius: 50px;
  padding: 100px 20px;
  margin-top: 100px;
  color: var(--white);
  box-shadow: inset 0 2px 80px rgba(187, 162, 144, 0.5);
  text-align: center;
  margin-top: -30px;
}

.title {
  font-family: var(--font-light);
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 60px;
  text-align: center;
  color: var(--beige);
  letter-spacing: 1px;
  text-shadow: 0 2px 8px rgba(255, 255, 255, 0.5);
}

.title.blue {
  color: var(--blue);
  position: relative;
  z-index: 100;
}
.experience-description p {
  font-size: 1.2rem;
  max-width: 90%;
  margin: 50px auto;
}

.experience-footer {
  background-color: var(--white);
  color: var(--black);
  padding: 30px;
  border-radius: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.experience-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 60px;
}

.exp-item {
  background: rgba(255, 255, 255, 0.04);
  padding: 40px;
  border-radius: 20px;
  text-align: left;
  position: relative;
  overflow: hidden;
  transition:
    transform 0.4s ease,
    box-shadow 0.4s ease;
  cursor: default;
  border: 2px solid var(--beige);
}

.exp-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.exp-item .number {
  font-size: 4rem;
  font-family: var(--font-bold);
  opacity: 0.1;
  position: absolute;
  right: 20px;
  bottom: 10px;
  pointer-events: none;
}

.exp-item p {
  font-size: 1.1rem;
  line-height: 1.6;
  font-family: var(--font-light);
}

.experience-btn {
  margin-top: 20px;
  display: inline-block;
}

@media (max-width: 992px) {
  .experience-grid {
    grid-template-columns: 1fr;
  }

  .exp-item {
    text-align: center;
  }

  .exp-item .number {
    font-size: 4.5rem;
    right: 50%;
    transform: translateX(102%);
    top: -10px;
    left: -85px;
  }
}

#services {
  background: #fff;
  padding: 100px 0;
  background-image: url(images/services.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.services::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  pointer-events: none;

  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.4) 70%,
    rgba(255, 255, 255, 1) 100%
  );
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 40px;
  position: relative;
  z-index: 10;
}

.services .hero-text {
  margin: 90px;
}

.services .hero-text p span {
  color: var(--blue);
}

.service-card {
  background: var(--blue);
  border-radius: 18px;
  padding: 30px 22px;
  position: relative;
  text-align: center;
  border: 1px solid rgba(187, 162, 144, 0.2);
  box-shadow: 0 2px 8px rgba(187, 162, 144, 0.12);
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.7s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: inset 0 2px 80px rgba(187, 162, 144, 0.5);
  gap: 20px;
}

.service-card.show {
  opacity: 1;
  transform: translateY(0);
}

.service-card.white {
  background-color: var(--beige);
  height: 105%;
  color: var(--blue);
}

@keyframes floatUpDown {
  0% {
    background-position: bottom center;
  }
  50% {
    background-position: calc(100% - 20px) center;
  }
  100% {
    background-position: bottom center;
  }
}

.service-card.white .btn,
.btn-blue {
  color: #fff;
  border-color: var(--blue);
  background-color: var(--blue);
}

.service-card.white h3,
.service-card.white p {
  color: var(--blue);
  font-size: 1.5rem;
}

.service-card h3 span {
  font-size: 2rem;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-img {
  width: 200px;
  height: 200px;
  margin: -70px auto 15px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 8px 50px rgba(255, 255, 255, 0.62);
}

.service-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.service-card h3 {
  margin: 10px 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 500;
  font-family: var(--font-bold);
}

.service-card p {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 20px;
  line-height: 1.4;
}

@media (max-width: 768px) {
  .services-grid {
    grid-template-columns: 1fr;
    gap: 100px;
    width: 90vw;
    margin: 100px auto 0;
  }

  .service-card {
    transform: translateY(60px);
    margin-top: -40px;
  }
}

.reasons {
  padding: 120px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: visible;
  background-color: var(--blue);
  border-radius: 50px;
  padding: 50px;
}

.reasons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  position: relative;
}

.reasons-text {
  color: var(--white);
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.reasons-text .title {
  font-size: 2rem;
}

.reasons-list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.reasons-list li {
  font-size: 1.35rem;
  line-height: 1.2;
  font-family: var(--font-light);
  position: relative;
  padding-left: 65px;
  display: flex;
  align-items: center;
  width: 45%;
}

.r-num {
  font-size: 3.5rem;
  font-family: var(--font-bold);
  opacity: 0.15;
  color: var(--white);
  pointer-events: none;
  margin-right: 10px;
}

.reasons-note {
  margin: 25px 0 35px;
  font-family: var(--font-light);
  opacity: 0.9;
}

@media (max-width: 900px) {
  .reasons-container {
    flex-direction: column;
    text-align: center;
  }

  .reasons-photo,
  .reasons-text {
    width: 100%;
  }

  .reasons-circle {
    position: static;
    margin: 0 auto 20px;
  }

  .reasons-list li {
    padding-left: 55px;
  }

  .r-num {
    font-size: 2.5rem;
  }
}

.reasons-bg {
  width: 400px;
  height: 750px;
  position: absolute;
  opacity: 0.4;
  right: -10%;
  z-index: 1;
}

.reasons-img {
  background-image: url(images/services-back.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  filter: brightness(0.75);
  width: 100%;
  height: 100%;
  margin-top: -40%;
  animation: floatUpDown 2s ease-in-out infinite;
}

@keyframes floatUpDown {
  0% {
    background-position-y: 100%;
  }
  50% {
    background-position-y: 90%;
  }
  100% {
    background-position-y: 100%;
  }
}

.reviews {
  padding: 80px 0;
  overflow: hidden;
}

.carousel {
  position: relative;
  width: 100%;
  margin-top: 40px;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
  position: relative;
  z-index: 10;
}

.carousel-item {
  flex: 0 0 calc(20% - 20px);
  border-radius: 20px;
  height: 500px;
  transition:
    transform 0.4s ease,
    opacity 0.4s ease;
}

@media (max-width: 768px) {
  .carousel-item {
    flex: 0 0 100%;
    height: 600px;
    object-fit: contain;
  }
}
.arrow-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  background: none;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  border-radius: 50%;
  z-index: 200;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
}

.arrow-btn::before,
.arrow-btn::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 2px;
  background-color: var(--white);
  border-radius: 2px;
  top: 50%;
  left: auto;
  transform-origin: left center;
}

.prev-btn::before {
  transform: rotate(45deg);
  top: 48%;
}

.prev-btn::after {
  transform: rotate(-45deg);
}

.prev-btn {
  left: 3px;
}

.next-btn {
  right: 3px;
}

.next-btn::before {
  transform: rotate(135deg);
  left: 30px;
  top: 48%;
}

.next-btn::after {
  transform: rotate(-135deg);
  left: 30px;
}

.reviews .container {
  text-align: center;
}

.reviews .container .btn {
  margin-top: 30px;
}

/* FAQ SECTION */
.faq {
  padding: 80px 0;
  position: relative;
  background-image: url(images/header.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.faq .logo {
  align-items: center;
}

.faq .title {
  margin-bottom: 0;
}

.faq .btn {
  margin: 30px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
}

.faq .container {
  position: relative;
  z-index: 200;
}

.faq::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  pointer-events: none;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.faq-list {
  max-width: 800px;
  margin: 40px auto 0;
}

.faq-item {
  background: var(--blue);
  border-radius: 14px;
  margin-bottom: 16px;
  box-shadow: 0 4px 16px rgba(187, 162, 144, 0.25);
  overflow: hidden;
  transition: 0.3s ease;
}

.faq-item.active {
  background-color: #fff;
  box-shadow: 0 6px 20px rgba(187, 162, 144, 0.35);
}

.faq-question {
  width: 100%;
  padding: 20px 24px;
  font-size: 18px;
  font-family: "HelveticaNeueRoman";
  background: none;
  border: none;
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-align: left;
}

.faq-icon {
  font-size: 28px;
  color: #fff;
  transition: 0.3s ease;
  line-height: 1;
}

.faq-item.active .faq-icon {
  transform: rotate(45deg);
  color: var(--blue);
}

.faq-answer {
  font-size: 16px;
  font-family: "HelveticaNeueLight";
  color: var(--blue);
  max-height: 0;
  overflow: hidden;
  padding: 0 24px;
  transition:
    max-height 0.35s ease,
    padding 0.3s ease;
}

.faq-item.active .faq-question {
  color: var(--blue);
}

.faq-item.active .faq-answer {
  padding: 0 24px 20px;
  max-height: 300px;
  color: var(--blue);
}

@media (max-width: 600px) {
  .faq-question {
    font-size: 16px;
    padding: 16px 18px;
  }
  .faq-answer {
    font-size: 15px;
  }
}

.contact-section {
  background: var(--blue);
  color: #fff;
  padding: 60px 0 0;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-image: url(images/footer.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  background-position: right top;
}

.contact-section .logo {
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.contact-container {
  max-width: 1200px;
  margin: 0 auto 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-logo img {
  width: 150px;
  filter: brightness(0) invert(1);
}

.contact-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.contact-menu a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s;
}

.contact-menu a:hover {
  opacity: 0.7;
}

/* Контакти */
.contact-info a {
  margin: 5px 0;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-info a:hover {
  color: var(--beige);
}

.contact-socials {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.contact-socials a {
  font-size: 2rem;
}

.social-icon {
  color: #fff;
  transition: 0.3s ease;
}

.social-icon:hover {
  opacity: 0.6;
}

.contact-container .btn {
  max-width: max-content;
  margin: auto;
}

.contact-btn:hover {
  opacity: 0.8;
}

/* Юридичні посилання */
.legal-links {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.legal-links a {
  color: #fff;
  text-decoration: underline;
  font-size: 14px;
  opacity: 0.9;
}

.legal-links a:hover {
  opacity: 0.6;
}

@media (max-width: 768px) {
  .contact-menu {
    gap: 15px;
  }
  .contact-btn {
    width: 80%;
  }
  .contact-logo img {
    width: 120px;
  }
}

.footer {
  background-color: var(--beige);
  padding: 5px;
  text-align: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  font-size: 13px;
}

@media (max-width: 998px) {
  .hero {
    background-size: cover;
    background-position: bottom;
    padding: 25px 20px 50px;
  }
  .hero-circle {
    width: 60vw;
    height: 60vw;
  }
  html,
  body {
    font-size: 14px;
  }
  .hero-text h1.logo,
  .big.logo {
    font-size: 2.2rem;
  }
  .hero-text h1.logo span,
  .big.logo span,
  .title {
    font-size: 2rem;
  }
  .list .circle {
    width: 90px;
    height: 90px;
    font-size: 0.7rem;
  }
  .hero-text p {
    font-size: 1.2rem;
  }
  .hero-text p span {
    font-size: 1.3rem;
  }
  .experience {
    margin-top: 0;
    padding: 50px 20px;
  }
  .title {
    margin-bottom: 30px;
  }
  .experience-description p {
    margin: 30px auto;
    font-size: 1.3rem;
    max-width: 100%;
  }
  .exp-item p {
    font-size: 1.3rem;
  }
  .service-card p {
    font-size: 1.4rem;
  }
  .services .hero-text {
    margin: 90px 20px;
  }
  .services .hero-text h1.logo span {
    margin-bottom: 0;
  }
  .reasons-list {
    margin-bottom: 40px;
    gap: 10px;
  }
  .reasons-list li {
    width: 100%;
    padding-left: 0;
    text-align: left;
  }
  .reasons-bg {
    right: auto;
  }
  .reasons {
    padding: 50px 20px;
  }
  .faq {
    padding: 30px 20px 70px;
  }
  .faq .logo {
    font-size: 1.3rem;
  }
}

.prices {
  padding: 100px 20px;
  background-image: url("images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  position: relative;
}

.prices::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
  pointer-events: none;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.prices::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  pointer-events: none;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.price-accordion {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  z-index: 100;
}

.price-item {
  overflow: hidden;
  border: 1px solid var(--beige);
  border-radius: 14px;
}

.price-head {
  background: var(--blue);

  width: 100%;
  padding: 20px 24px;
  font-size: 20px;
  font-family: "HelveticaNeueRoman";
  border: none;
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-align: left;
  box-shadow: 0 6px 20px rgba(187, 162, 144, 0.35);
}

.price-icon {
  font-size: 24px;
  transition: transform 0.3s ease;
}

.price-item.active .price-icon {
  transform: rotate(90deg);
}

.price-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  background: var(--white);
}

.price-item.active .price-body {
  max-height: 2000px;
}

.price-body table {
  width: 100%;
}

.price-body td {
  padding: 16px 20px;
  border-bottom: 1px solid var(--gray);
}

.price-body td:last-child {
  text-align: right;
  font-weight: 600;
  white-space: nowrap;
}
.price-body tr:last-child td {
  border-bottom: 0;
}

.price-body span {
  font-size: 0.9rem;
  opacity: 0.7;
}

@media (max-width: 768px) {
  .price-head {
    font-size: 16px;
    padding: 16px 18px;
  }
  .prices {
    padding: 0 15px 50px;
  }
  .price-body td {
    display: block;
    text-align: left;
  }

  .price-body td:last-child {
    text-align: left;
    margin-bottom: 10px;
  }
  #services {
    padding-bottom: 50px;
  }

  .price-body td:first-child {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

/* ===== PAYMENTS (ЦІНИ) ===== */

.price-payments {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 60px;
  position: relative;
  z-index: 100;
}

.payment-card {
  background: var(--white);
  border-radius: 30px;
  padding: 40px 30px;
  text-align: center;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.18);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.payment-card h4 {
  font-size: 1.6rem;
  color: var(--blue);
  margin-bottom: 10px;
  font-family: var(--font-bold);
}

.payment-card p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.payment-card p span {
  opacity: 0.7;
}

.payment-price {
  font-size: 2.2rem;
  color: var(--blue);
  margin-bottom: 25px;
  font-family: var(--font-bold);
}

/* кнопки */
.pay-btn {
  display: inline-block;
  padding: 14px 28px;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 0.85rem;
  transition: all 0.3s ease;
}

.pay-btn.outline {
  border: 2px solid var(--blue);
  color: var(--blue);
}

.pay-btn.filled {
  background: var(--blue);
  color: var(--white);
}

.pay-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.hero-pay-links {
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.hero-pay-links h3 {
  font-family: var(--font-bold);
  font-size: 20px;
  color: var(--black);
}

.hero-pay-links .hero-pay-links a {
  margin: 0 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.row-btn {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .price-payments {
    grid-template-columns: 1fr;
  }
}

/* --- Custom payment --- */
.payment-card.custom {
  border: 1px dashed rgba(0, 0, 0, 0.15);
  background: rgba(255, 255, 255, 0.6);
}

.custom-amount {
  margin: 20px 0;
}

.custom-amount input {
  width: 100%;
  padding: 14px 16px;
  font-size: 16px;
  border-radius: 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  background: transparent;
  transition: border 0.3s ease;
}

.custom-amount input:focus {
  border-color: #9a8f7a;
}

.payment-card.custom .pay-btn {
  width: 100%;
}
